# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive\NackademinPlugg\Objektorienterad programmering\Sprint3\Övningar\Övningsuppgift8a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
